/*CSS para el cuerpo de la página y sus 4 partes*/

body,html
{
	height:100%;
	background-image: url(../img/fondo1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100% ;
	margin: 0px;
	padding:0px;
}
.a,.c
{
	background-color: transparent;
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}
/*Nave*/

#nave
{
	display: block;
	text-align:center;
	position:absolute;
	left: 45%;
	top:10%;
}
#cohete
{
	width: 130px;
	height: 250px;
	position: absolute;
	left: 0px;
	z-index: 3;

}
#Fire
{
	display: none;
}
#Fire img
{
	width: 55px;
	position: absolute;
	left: 35px;
	top: 157px;
	z-index: 2;
}

/* D, Parte Inferior*/


#tele1
{
	width: 10%;
	position: absolute;
	left: 5%;
	bottom:15%;
}
#tele2
{
	width: 15%;
	position: absolute;
	right: 10%;
	bottom:5%;	
}
#luna
{
	position: fixed;
	height: 60%;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}

/*Panel de info*/

#panel
{
	display: block;
	width: 150px;
	position: absolute;
	left: 0px;
}
#hidem,#showm
{
	display:none;
}

#panel li
{
	display: inline-block;
	text-align: center;
	width: 150px;
	margin: 2px;
}
li
{
	font-family: monospace;
	background-color: navy;
	color: white;
	font-size: 15px;
	border: 1px solid blue;
	list-style-type: none;
}

/* Menú de Opciones */

.opciones li
{
	display: inline-block;
	text-align: center;
	width: 55px;
	height: 100%;
	margin: 2px;
	padding: 5px;
	position:relative;
}
.opciones
{
	position: absolute;
	right: 2%;
	top: 2%;
	margin: 0%;
}
.opciones li :hover
{
	background-color: blue;
}
#How
{
	display: inline-block;
}
#how
{
	width: 50px;
	height: 50px;
	margin: 0%;
}
#Reset
{
	display: inline-block;
}
#about
{
	display: inline-block;
}
#reset
{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0%;
}
#about
{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0%;
}
#Boton
{
	display: inline-block;
	margin: 0%;
}
#btplay 
{
	display: none;
	float: right;
	margin: 0px; 
	color: black;
	font-size: 0%;
	text-align: center;
	background-image: url("../img/btplay.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	width: 50px;
	height: 50px;
}

#btpause
{
	display: block;
	float: right;
	margin: 0px;
	color: black;
	font-size: 0%;
	text-align: center;
	background-image: url("../img/pause.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	width: 50px;
	height: 50px;
}
/*About*/
.b
{
	text-align: center;
	display: none;
	background-color: black;
	opacity: 0.6;
	color: white;
	padding: 5px;
	width: 50%;
	position: fixed;
	top: 10%;
	left: 25%;
	font-size: 24px;
	z-index: 5;

}
.b a
{
	text-decoration: none;
	color: rgb(84,252,109);
}
.cabout
{
	position: absolute;
	right: 5px;
	top: 5px;
}

/*How to Play*/

a :hover
{
	color: navy;
}
em
{
	color: blue;
}
h2
{
	color: white;
	text-decoration: none;
	width: 100%;
}
.howto
{
	background-color: black;
	opacity: 0.6;
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 5px;
	margin: 10px;
	width: 50%;
	position: relative;
	left: 25%;
}
#close
{
	text-decoration: none;
	display: block;
	width: 20px;
}
